<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<title> {{ page.title }} </title>
</head>
<body>
    <header>
        <h1><a href="/"><img src="/images/SigLightBlue.svg" title="Aidan Daly-Jensen" height="64" width="64" alt="Aidan Daly-Jensen"/></a></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects.html">Projects</a></li>
                <li><a href="/about.html">About</a></li>
            </ul>
        </nav>
    </header>
